[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
graphviz = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"

[packages]
django = "*"
djangorestframework = "*"
django-json-widget = "*"

[requires]
python_version = "3.6"
